<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('smc_home') }}">Home</a>
            </li>
            {% for level in levels %}
                <li class="{{ loop.last ? 'active' : '' }}">
                    <a href="{{ level.link is defined ? level.link : '' }}">{{ level.name }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

    