{% extends '@SocialMediaContent/base.html.twig' %}

{% block breadcrumb %}
    {{ include('@SocialMediaContent/breadcrumb.html.twig', { levels: [{link: path('tags'), name: 'Tags'}, {name: tag.name }] })}}
{% endblock %}


{% block content %}

    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ tag.name }}</h5>
            <div class="ibox-tools">
                
            </div>
        </div>
        <div class="ibox-content">
            

            {{ include('@SocialMediaContent/twitter_user/list.html.twig', {'pagination': pagination }) }}

        </div>
    </div>

{% endblock %}